@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

header {
	height: 100px;
	background: pink;
	width: 100%;
}
.logo {
	width: 30%;
	float: left;
    display: flex;
    align-items: center;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	margin: 0 10px;
	color: black;
}
nav a:hover{
    color:  white;
}
